#page-content-scroll {
    background-color: #FFFFFF!important;
}
div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}
.coverpage-slider {
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

html {
    height: 100%;
}

.disabled {
    display: none;
}

.bg-1 {
    background-image: url(../images/bg/2.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
}

.header-dark {
    background-color: #0c1117;
}

.header-dark a {
    color: #FFFFFF!important;
    border-color: rgba(255, 255, 255, 0.1)!important;
}

.header-dark h3 {
    color: #FFFFFF;
}

.header-light {
    background-color: #FFFFFF;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.header-light a {
    color: #1f1f1f;
    border-color: rgba(0, 0, 0, 0.1)!important;
}

.header-pln {
    background-color: #ff0;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.header-pln a {
    color: #1f1f1f;
    border-color: rgba(0, 0, 0, 0.1)!important;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 60px;
    z-index: 99999;
    transition: all 250ms ease;
}

.header a:first-child {
    float: left;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #1f1f1f;
    border-right: solid 1px;
}

.header a:last-child {
    float: right;
    height: 60px;
    width: 60px;
    line-height: 60px;
    margin-top: 0px;
    border-left: solid 1px;
    color: #1f1f1f;
    text-align: center;
}

.header h3 {
    position: absolute;
    text-align: center;
    left: 60px;
    right: 60px;
    //line-height: 60px;
    text-align: center;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.2px
}

.header .h3 {
    position: absolute;
    text-align: center;
    left: 60px;
    right: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.2px
}

.header-mask {
    padding: 0px!important;
    margin: 0px!important;
    text-align: center;
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.2px
}

.header-mask-dark {
    background-color: #0c1117!important;
    color: #FFFFFF!important;
}

.content-overlay {
    position: fixed;
    z-index: 99;
    bottom: 0px;
    left: 0px;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 250ms ease;
}

#page-content-scroll {
    transition: all 250ms ease;
}

.scale-it {
    -moz-transform: scale(0.6) translateY(-40px);
    -webkit-transform: scale(0.6) translateY(-40px);
    -o-transform: scale(0.6) translateY(-40px);
    -ms-transform: scale(0.6) translateY(-40px);
    transform: scale(0.6) translateY(-40px);
    transition: all 250ms ease;
}

@media(min-width:700px) {
    -moz-transform: scale(0.3) translateY(-40px);
    -webkit-transform: scale(0.3) translateY(-40px);
    -o-transform: scale(0.3) translateY(-40px);
    -ms-transform: scale(0.3) translateY(-40px);
    transform: scale(0.3) translateY(-40px);
    transition: all 250ms ease;
}

.move-down {
    opacity: 0;
    transition: all 250ms ease;
}

.navigation-overlay {
    position: fixed;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
}

.navigation-overlay-light {
    background-color: rgba(255, 255, 255, 0.4)!important;
}

.show-overlay {
    opacity: 1!important;
    pointer-events: all!important;
    transition: all 250ms ease;
}

.messenger {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9999999;
    height: 440px;
    width: 300px;
    left: 50%;
    top: 50%;
    margin-top: -220px;
    margin-left: -150px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 250ms ease;
    overflow: hidden;
    display: none;
}

.messenger-dark {
    background-color: #0c1117!important;
}

.messenger-dark h3 {
    color: #FFFFFF;
    border-color: rgba(255, 255, 255, 0.1)!important;
}

.messenger-dark i {
    color: #FFFFFF;
}

.messenger-dark .contactField,
.messenger-dark textarea {
    background-color: rgba(0, 0, 0, 0.1);
    border: solid 1px rgba(255, 255, 255, 0.3);
}

.messenger-dark label {
    color: #FFFFFF;
}

.messenger .close-menu {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    color: #1f1f1f;
}

.messenger-scroll {
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.messenger h3 {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-right: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.messenger input {
    box-shadow: none!important;
    -webkit-appearance: none;
}

.messenger-scroll .line {
    width: 200px!important;
}

.contact-overlay .navigation-scroll {
    padding: 20px;
}

.navigation-dark .submenu {
    background-color: #0c1117!important;
    border: none!important;
}

.navigation-dark {
    background-color: #0c1117!important;
    border: none!important;
}

.navigation-light .submenu {
    background-color: #FFFFFF!important;
    border: none!important;
}

.navigation-dark i {
    color: rgba(255, 255, 255, 0.8)!important;
}

.navigation {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 9999999;
    height: 360px;
    width: 300px;
    left: 50%;
    top: 55%;
    margin-top: -210px;
    margin-left: -150px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 250ms ease;
    overflow: hidden!important;
    display: none;
}

.navigation-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0px;
    /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.show-menu {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 250ms ease;
}

.active-menu {
    background-color: #2cc36b!important;
}

.active-menu * {
    color: #FFFFFF!important;
}

.menu-item .fa-mobile,
.submenu-item .fa-mobile {
    font-size: 24px!important;
}

.menu-item:hover{
    background-color: rgba(255, 255, 0, 0.3);
}

.menu-item,
.submenu-item {
    width: 100%;
    height: 60px;
    line-height: 50px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.menu-item i:first-child,
.submenu-item i:first-child {
    width: 70px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #1f1f1f;
    font-size: 18px;
}

.menu-item em,
.submenu-item em {
    font-size: 14px;
    font-style: normal;
    position: Absolute;
    height: 60px;
    line-height: 60px;
    color: #666666;
}

.menu-item i:last-child,
.submenu-item i:last-child {
    float: right;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    font-size: 6px;
    color: #1f1f1f;
}

.menu-item .fa-chevron-right,
.submenu-item .fa-angle-right {
    float: right;
    height: 60px;
    line-height: 60px;
    width: 60px;
    text-align: center;
    font-size: 8px!important;
    color: #1f1f1f;
}

.menu-item .fa-times,
.submenu-item .fa-times {
    float: right;
    height: 60px;
    line-height: 63px!important;
    width: 60px;
    text-align: center;
    font-size: 10px!important;
    color: #1f1f1f;
}

.submenu {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background-color: #FFFFFF;
    -moz-transform: translateX(320px);
    -webkit-transform: translateX(320px);
    -o-transform: translateX(320px);
    -ms-transform: translateX(320px);
    transform: translateX(320px);
    transition: all 250ms ease;
    opacity: 0;
}

.hide-menu-item {
    -moz-transform: translateX(-320px);
    -webkit-transform: translateX(-320px);
    -o-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    transform: translateX(-320px);
    transition: all 250ms ease;
}

.show-submenu {
    opacity: 1;
    -moz-transform: translateX(0px)!important;
    -webkit-transform: translateX(0px)!important;
    -o-transform: translateX(0px)!important;
    -ms-transform: translateX(0px)!important;
    transform: translateX(0px)!important;
    transition: all 250ms ease;
}

.submenu-scroll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* Decrease this value for cross-browser compatibility */
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.heading-badge h3 {
    width: 95px;
    text-align: center;
    margin-bottom: 0px!important;
    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 0px;
}

.heading-badge {
    margin-bottom: 20px;
    border-width: 3px!important;
}

.heading-title {
    text-align: center;
    font-size: 19px;
    font-weight: 650!important;
    padding-bottom: 10px;
}

.heading-title-large {
    text-align: center;
    font-size: 22px;
    font-weight: 600!important;
    padding-bottom: 10px;
}

.heading-style p {
    width: 90%!important;
    margin-left: auto;
    margin-right: auto;
}

.heading-style .line {
    z-index: 1;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#ececec), to(#ececec), color-stop(50%, rgba(0, 0, 0, 0.2)));
    background: gradient(linear, 0 0, 100% 0, from(#ececec), to(#ececec), color-stop(50%, rgba(0, 0, 0, 0.2)));
}

.heading-style i {
    background-color: #FFFFFF;
    font-size: 24px;
    height: 40px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    color: #666666;
    position: absolute;
    top: 38px;
    left: 50%;
    margin-left: -25px;
    z-index: 2;
}

.heading-style p {
    width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*Content Strip*/

.coverflow-strip {
    background-color: #0e141b;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
}

.coverflow-strip h3 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 30px;
}

.coverflow-strip p {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    margin-top: 30px;
}

.coverflow-strip a {
    margin-top: 30px!important;
}

.content-strip {
    overflow: hidden;
    padding-top: 35px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

@media(min-width:768px) {
    .content-strip .strip-content h4 {
        text-align: center;
    }
    .content-strip .strip-content p {
        text-align: center;
    }
    .content-strip .strip-content i {
        display: none;
    }
    .content-strip .strip-subtitle {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
}

.content-strip .strip-content {
    position: relative;
    z-index: 3;
}

.content-strip .strip-subtitle {
    z-index: 3;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    margin-bottom: 0px;
}

.content-strip .strip-content h4 {
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    margin-bottom: 5px;
}

.content-strip .strip-content p {
    color: rgba(255, 255, 255, 0.6);
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 0px;
}

.content-strip .strip-content i {
    position: absolute;
    right: 0px;
    height: 100px;
    top: -20px;
    width: 25px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 93px;
    margin-right: 30px;
    font-size: 30px;
}

.content-strip .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.content-strip img {
    position: absolute;
    width: 150%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.strip-button h4 {
    text-align: center;
    padding-bottom: 10px
}

.strip-button p {
    text-align: center;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.strip-button a {
    text-align: center;
    width: 130px;
    height: 40px;
    line-height: 40px;
    color: #FFFFFF;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
}

.strip-button .overlay {
    background-color: rgba(0, 0, 0, 0.8)!important;
}

.swiper-container-horizontal {
    overflow: hidden!important;
    ;
}

.coverflow-thumbnails .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}


/*Homepage Classic Settings*/

.social-center {
    width: 180px;
    margin-left: auto;
    margin-right: auto;
}

.social-center a {
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.social-center a i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 13px;
    border-radius: 45px;
}

.has-icon {
    font-size: 18px;
}

.has-icon i {
    margin-right: 20px;
    width: 20px;
    text-align: center;
}


/*Columns*/

.column-left {
    min-height: 150px;
    margin-bottom: 30px;
    overflow: hidden;
}

.column-left img {
    width: 150px;
    position: absolute;
    margin-left: -75px;
    border-radius: 150px;
}

.column-left h4 {
    padding-right: 20px;
    padding-left: 90px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.column-left p {
    padding-right: 20px;
    padding-left: 90px;
    margin-bottom: 0px;
}

.column-right {
    min-height: 150px;
    margin-bottom: 30px;
    overflow: hidden;
}

.column-right img {
    width: 150px;
    position: absolute;
    right: -75px;
    border-radius: 150px;
}

.column-right h4 {
    padding-left: 20px;
    padding-right: 90px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.column-right p {
    padding-left: 20px;
    padding-right: 90px;
    margin-bottom: 0px;
}


/*Quote Slider*/

.quote-slider {
    overflow: hidden;
}

.quote-slider h4 {
    font-weight: 300;
    line-height: 40px;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.quote-slider em {
    margin-top: 20px;
    color: #f1c40f;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.quote-slider em i {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.quote-slider a {
    text-align: center;
    font-size: 12px;
    margin-top: -5px;
}


/*Staff Slider*/

.staff-slider {
    overflow: hidden;
}

.staff-slider img {
    margin-top: 8px;
    width: 150px!important;
    height: 150px!important;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}

.staff-slider h3 {
    text-align: center;
    margin-top: 20px;
}

.staff-slider em {
    display: block;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.staff-slider p {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.staff-icons a {
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 30px;
}

.staff-icons-three {
    width: 180px;
    margin: 0 auto;
}

.staff-icons-two {
    width: 120px;
    margin: 0 auto;
}

.staff-icons-one {
    width: 60px;
    margin: 0 auto;
}

.next-staff-slider,
.next-quote-slider {
    top: 50%;
    margin-top: -45px;
    right: 20px;
    position: absolute;
    z-index: 9;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    text-align: center;
    color: #1f1f1f;
    transition: all 200ms ease;
}

.next-staff-slider:hover,
.next-quote-slider:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 200ms ease;
}

.next-staff-slider i,
.next-quote-slider i {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.prev-staff-slider,
.prev-quote-slider {
    top: 50%;
    margin-top: -45px;
    left: 20px;
    position: absolute;
    z-index: 9;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    line-height: 50px;
    text-align: center;
    color: #1f1f1f;
    transition: all 200ms ease;
}

.prev-staff-slider:hover,
.prev-quote-slider:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 200ms ease;
}

.prev-staff-slider i,
.prev-quote-slider i {
    font-size: 16px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.footer-logo {
    background-repeat: no-repeat;
    background-size: 135px 20px;
    width: 135px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.footer .footer-strip {
    margin-top: -15px;
    margin-bottom: -15px;
    pointer-events: none;
}

.footer-logo {
    color: #FFFFFF;
    padding-top: 40px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 24px;
    display: block;
    width: 100%;
}

.footer-socials {
    width: 285px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.footer-socials a {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
    line-height: 42px;
    text-align: center;
    margin-left: 4px;
    margin-right: 3px;
}

.footer-strip {
    text-align: center;
    margin-bottom: 15px;
    font-size: 12px;
    padding-top: 31px!important;
    padding-bottom: 30px!important;
}

.footer-decoration {
    height: 3px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e34e47;
    margin-bottom: 20px;
}

.footer-links a {
    font-size: 13px;
    line-height: 40px;
    width: 50%;
    float: left;
    color: #666666;
}

@media(min-width:768px) {
    .footer-links a {
        width: 33.3%;
    }
}

.footer-links a i {
    width: 20px;
    text-align: left;
    color: #1f1f1f;
}

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }
.checkbox.checkbox-single label {
    height: 17px; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }